body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main-nav {
    width: 100%;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* position: fixed;
    top: 0; */
}


.nav{
    padding-left: 20px;
    padding-top: 15px;
  }

  .nav2{
    padding: 10px;
    position: relative;
  }
  .nav2 > select{
    width: 250px;
    height:48px;
    border-radius: 5px;
    padding-left: 30px;
    border-style: solid;
    font-weight: bold;
    font-size: medium;
    
  }

  .logo  {
    position: absolute;
    top: 25px;
    left: 20px;
  }
  .nav2 > option:focus{
    outline: none;
  }
  
   .main-nev{
     display: flex;
     padding-top: 10px;
     
   } 
  
  
  .nav3 > input{
    width: 700px;
    height:41px;
    border-radius: 5px;
    padding-left: 10px;
    border-style: solid;
    font-weight: bold;
    font-size: medium;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
  }
  
  .nav3 > input:focus{
    border-color: turquoise;
    outline: none;
  }  
  
  .img {
      margin: 1px;
      margin-top: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
  }

  .logo1 {
      border: 1px solid black;
      height: 40px;
      width: 40px;
      color: #fff;
      padding: 3px;
      background-color: #002f34;
      border-radius: 4px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
  }
  
  
  @media only screen and (max-width: 400px){
    .nav3 >input {
      width: 250px;
      
    }

  }

  @media only screen and (max-width: 600px) {
    .nav3 >input {
      width: 120px;
    }

    .nav2 >select {
      width: 120px;
    }
  }

  @media only screen and (max-width:500px) {
      .nav3 >input {
        display: none;
      }

      .img >.logo1 {
        display: none;
      }

  }
  @media only screen and (max-width:700px) {
    .nav3 >input {
      width:120px;
    }

    .nav2 >select {
      width: 100px;
    }
}
@media only screen and (max-width:900px) {
  .nav3 >input {
    width:100px;
    
  }

  .nav2 >select {
    width: 120px;
  }
}
@media only screen and (max-width:1200px) {
  .nav3 >input {
    width:350px;
  }

} 
  /* login button */
  
  .button{
    padding: 20px;
    text-decoration: underline;
  }
  .button > button{
    border: none;
    background-color:rgb(245, 245, 245) ;
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
  }
  
  .button > button:focus{
    outline: none;
  }
  
  /* SELL button */
  
  .button2 {
    padding: 20px;
    
  }
  
  .button2 > a{
    color: #002f34; 
    background-color:white ;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 75px;
    border-left-color: yellow;
    border-top-color:turquoise;
    border-bottom-color: yellow;
    border-right-color: rgb(38, 188, 238);
    border-style: solid ;
  }
  .button2 > a:focus{
    outline: none;
  }

.sub-header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.select1 >select {
    font-size: medium;
    padding: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.select1 >select:hover {
    color:aquamarine;
}

.list > ul {
    list-style-type: none;
    padding-right: 100px;
    margin-top: 10px;
}

.list >ul >li {
    display: inline;
    font-size: 15px;
    padding: 0 10px;
    cursor: pointer;    
    
}


.list >ul>li:hover {
    color: turquoise;
}

.s2 {
    position: relative;
    display: flex;
    width: 85%;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 20px;
    /* position: relative;
    width: 90%;
    background-color: rgb(231, 231, 231);
    margin-left: 80px;
    height: 320px;
    border-radius: 5px;
    margin-top: 140px; */
}

.s2 >h1 {
    padding-left: 15px;
    position: absolute;
    top: -10px;
    left: 5px;
    font-size: x-large;
    margin-top: 20px;
}

.h2 {
    position: absolute;
    right: -130px;
    top: 4px;
    border-bottom: 2px solid #002f34;
    text-decoration: none;
    color: #002f34;
    font-weight: bold;
}

.h2:hover {
    border-bottom: none;
}

.product {
    margin-top: 30px;
    border: 0.1px solid lightgray;
    border-radius: 5px;
    margin-left: 40px;
    /* display: inline-block;
    background-color: #fff;
    width: 23%;
    height: 250px;
    margin-left: 20px;
    margin: 5px;
    border-radius: 5px;
    padding-right: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.product >img {
    padding: 5px 5px;
}

.product :nth-child(2) {
    font-weight: bold;
    padding: 3px;   
}

.product :nth-child(3) {
    padding: 4px;
}

.para{
    text-align: right;
}

.s3 {
    position: relative;
    display: flex;
    width: 85%;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 20px;
    margin: 0 auto;
}

.s3 >h1 {
    position: absolute;
    top: -30px;
    left: -60px;
    font-size: x-large;
}

.product1 {
    border: 0.1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 20px;
}

.product1 >img {
    padding: 5px 5px;
}

.main5{
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 100px;
}

.head > h1{
  font-family:'Segoe UI' ;
}

.head > p{
  font-family:'Segoe UI' ;
  font-size: 20px;
  
}

.vertical-line{
  border-left: 3px solid rgb(202, 202, 202);
  height: 170px;
  margin-top: 20px;
}

.apps > h4{
  font-family:'Segoe UI';
  padding-right: 20px;
  padding-top: 20px;
}

  
  /*2nd last div */
  
  .main6{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(233, 233, 233);
  }
  
  .div1 > h3{
    font-family:'Segoe UI' ;
    font-weight:bold;
    font-size: 16px;
    padding-left: 38px;
  }
  
  .div1 > ul{
    list-style-type: none;
    
  }
  
  .div1 > ul >li{
    font-family:'Segoe UI' ;
    color: rgb(155, 155, 155);
     font-size:13px ;
     
  }
  
  .div2 > h3{
    padding-right: 33px;
    font-family:'Segoe UI' ;
    font-weight:bold;
    font-size: 16px;
  
  } 
  
  /* last div */
  
  .main7{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #002f34;
  }
  
  .main7 > div >h5{
     color: white;
     font-family: Arial,Helvetica,sans-serif;
  }

@media only screen and (max-width: 600px) {
    .select {
      display: none;
    }
    .search {
        display: none;
    }

    .icon {
        display: none;
    }

    button {
        display: none;
    }
    .list >li {
        font-size: 13px;   
    }   
}